body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F1F1F1;
	background: #000;
	text-align: center;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	text-align: left;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#logo {
	float: left;
	padding: 0;
}

#logo h2 {
	font-size: 48px;
	font-weight: bold;
	font-family: Arial;
	color: #F1F1F1;
	letter-spacing: 2px;
}

.light_logo {
	padding-left: 20px;
	background: #275fac;
}

#logo a {
	text-decoration: none;
	border: 0px;
}

#menu {
	width: 640px;
	float: right;
	margin-top: 15px;
	margin-left: 20px;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 5px 5px 5px 5px;
}

#menu li {
	display: block;
	float: left;
	font-family: Candara, Arial, Helvetica, sans-serif;
}

#menu a {
	color: #F1F1F1;
	font-size: 14px;
	display: block;
	float: left;
	padding: 16px 40px 12px 40px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

#menu a:hover {
	color: #337ea1;
}


#header {
	float: left;
	width: 920px;
	height: 180px;
	margin-top: 10px;
	background: url(../images/header.png) no-repeat;
	border: 15px solid #151515;
}

#title_head {
	float: left;
	padding-top: 20px;
	padding-left: 450px;
}

#title_head h2 {
	color: #F1F1F1;
	font-size: 28px;
}

#title_head p {
	color: #F1F1F1;
	font-size: 16px;
}

#container {
	float: left;
	margin-bottom: 30px;
	width: 960px;
}

#content {
	float: left;
	width: 940px;
	text-align: justify;
	padding-left: 10px;
	line-height: 22px;
	background: #151515;
}

#content_box {
	width: 900px;
	color: #555555;
	padding: 5px;
	float: left;
}

#content_box h2 {
	font-size: 18px;
	font-weight: normal;
	font-family:"Trebuchet MS", Tahoma, Arial, Helvetica, Sans-serif;
	border-bottom:5px solid #242424;
	color: #1F6BB2;
	padding:0 0 5px 0;
}

#content_box p {
	font-family: Arial;
}

#content_box_rm {
	float: right;
}

#footer {
	width: 960px;
	float: left;
	font-size: 12px;
	margin: 0 auto;
	color: #333333;
}

#footer a {
	color: #555;
}
