body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: linear-gradient(to right, #8B0000, #800000); /* Gradient czerwony */
    color: #FFF;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav {
    background: linear-gradient(to right, #800000, #8B0000); /* Gradient czerwony */
    color: #FFF;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav a {
    color: #FFF;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FFD700; /* Żółty */
}

section {
    padding: 20px;
    margin: 20px auto;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.product {
    border: 1px solid #800000; /* Czerwony */
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

footer {
    background: linear-gradient(to right, #8B0000, #800000)); /* Gradient granatowy */
    color: #FFF;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
